@{
    ViewBag.Title = "Sweetron";
}

<link rel="stylesheet" href="~/css/site.css" type="text/css"/>

<body>
    <div style="width:150px; margin:0 auto;">
        <div class="btn-group-vertical">
            <button style="margin-top:8px" type="button" class="btn btn-secundary btn-lg bt" onclick="window.location.href='/Utilizador/Index'">Cozinhar Receita</button>
            <button type="button" class="btn btn-secundary btn-lg bt" onclick="window.location.href='/Utilizador/Index'">Favoritos</button>
            <button type="button" class="btn btn-secundary btn-lg bt" onclick="window.location.href='/Utilizador/Index'">Histórico</button>
            <button type="button" class="btn btn-secundary btn-lg bt" onclick="window.location.href='/Utilizador/Index'">Filtro</button>
            <button type="button" class="btn btn-secundary btn-lg bt" onclick="window.location.href='/Utilizador/Index'">Plano Semanal</button>
            <button type="button" class="btn btn-secundary btn-lg bt" onclick="window.location.href='/Utilizador/Index'">Avaliar Receita</button>
            <button type="button" class="btn btn-danger btn-lg bt" onclick="window.location.href='/Home/Index'" >Terminar Sessão</button>
        </div>
    </div>
</body>