.tabelaReceitas {
    background-image: url("/images/preparacao.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    margin-top: 60px;
}

.conteudo{
    font-weight: lighter;
    color: white;
}