/*CSS para o texto SweeTron*/
div .text-wrapper {
    color: white;
    font-size: 14px;
    text-align: center;
}

.text-wrapper{
    left: -1000px;
    margin-left: -200px;
    background-position: center;
    background-size: cover;
    background-image: url("/images/backSweetron2.jpg");
    min-height: 75%;
}

.title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto-sweetron {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 5%;
    right: 0;
    text-align: left;
    font-size: 16px;
    font-family: Arial;
    font-weight: lighter;
    top: 30%;
    width: 60%;
}


/*CSS para o texto da MobileForAll*/
div .mobile4all {
    color: white;
    font-size: 14px;
    text-align: center;
}

.mobile4all {
    left: -2000px;
    margin-left: -500px;
    background-position: center;
    background-size: cover;
    background-image: url("/images/gnration.jpg");
    min-height: 75%;
}

.title-mobile {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto-mobile {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 5%;
    right: 0;
    text-align: left;
    font-size: 16px;
    font-family: Arial;
    font-weight: lighter;
    top: 92%;
    width: 60%;
}


.bt {
    margin-bottom: 8px;
    border-radius: 30px;
}






/*Responsvel pela formatação para mobile*/
@media screen and (max-width: 400px) {
    div .text-wrapper {
        min-height: 100%;
    }

    .text-wrapper {
        left: -1000px;
        margin-left: -500px;
        background-position: center;
        background-size: cover;
    }

    .title {
        top: 10%;
        left: 50%;
    }

    .texto-sweetron {
        left: 7.5%;
        width: 90%;
        top: 15%;
        font-size: 13px;
        text-size-adjust: auto;
    }


    /*MobileForAll*/
    div .mobile4all {
        min-height: 100%;
    }

    .mobile4all {
        left: -3000px;
        margin-left: -900px;
        background-position: center;
        background-size: cover;
    }

    .title-mobile {
        top: 70%;
        left: 50%;
    }

    .texto-mobile {
        left: 7.5%;
        width: 90%;
        top: 75%;
        font-size: 13px;
        text-size-adjust: auto;
    }


}

/*responsavel para fixar o footer (2019 - MobileForAll) */
#footer{
    position: fixed;
    left: 30px;
    bottom: 0;
    width: 100%;
    text-align: left;
    font-size: 19px;
    font-weight: lighter;
}


/*CSS para o index do User*/
.index_user {
    margin-top: 210px;
    background-position: center;
    background-size: cover;
    background-image: url("/images/rolochocolate.jpg");
    background-repeat: no-repeat;
}

.btn-group-vertical {
    margin-left: -670px;
    margin-top: -100px;
}

.btn btn-primary {
    background-color: transparent;
    border-radius: 10px;
}

.plano_semanal {
    text-align: center;
    width: 200px;
    height 430px;
    background-color: white;
    margin-top: -230px;
    margin-left: 500px;
    border-radius: 10px;
}

@media screen and (max-width: 400px) {
    .index_user{
        background-size: initial;
        margin-left:790px;
    }

    .plano_semanal{
        margin-left: 300px;
    }
}