div .text-wrapper {
    color: white;
    font-size: 12px;
    text-align: center;
}

.text-wrapper img {
    left: -500px;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    position: relative;
    top: -10px;
}

.title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto-sweetron {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 5%;
    right: 0;
    text-align: left;
    font-size: 16px;
    font-family:Arial;
    top: 30%;
    width: 60%;
}

@media screen and (max-width: 400px) {
    div .text-wrapper {
        max-height: 40%;
    }

    .title {
        left: 130%;
    }

    .texto-sweetron {
        left: 90%;
        width: 90%;
        text-size-adjust: auto;
    }

}

/*responsavel para fixar o footer (2019 - MobileForAll) */
footer{
    position: fixed;
    left: 30px;
    bottom: 0;
    width: 100%;
    text-align: left;
}